.idea/**
**/.gradle/**
**/gradle/**
**/node_modules/**
**/package-lock.json
**/build/**
**/out/**
**/target/**
gradlew
gradlew.bat
*.iml
*.mwb.war
.DS_Store
**/gradlew**
hibernate/spring-java/com.baeldung.hibernatesearch.model.Product/**